@use "../../scss/abstracts" as *;

.button {
  &:link,
  &:visited {
    display: flex;
    padding: 1rem 2.8rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

.button--dark {
  background-color: $color-black;
  color: $color-white;
}

.button--light {
  background-color: $color-white;
  color: $color-black;

  &:hover {
    background-color: $color-light-gray;
  }
}
